<h1>Welcome to the ROBO shop</h1>

<div class="" style="background-color:darkgreen; color:darkgreen; hight:50px">
test
</div>
<div class="">

</div>
<%= render partial: 'products', locals: { products: @products } %>
