<h1>Welcome to the ROBOtics shop</h1>

<div class="" style="background-color:royalblue; color:royalblue; hight:100px; margin_bottom:40px">
.
<br>
.
</div>

<%= render partial: 'products', locals: { products: @products } %>
